{
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "semi": true,
  "trailingComma": "all",
  "endOfLine": "lf"
}
